<lint-module
    format="1"
    dir="/home/raquel/Documents/android-calculator/app"
    name=":app"
    type="APP"
    maven="Calculator:app:unspecified"
    agpVersion="8.5.0"
    buildFolder="lint"
    bootClassPath="/home/raquel/Android/Sdk/platforms/android-34/android.jar:/home/raquel/Android/Sdk/build-tools/34.0.0/core-lambda-stubs.jar"
    javaSourceLevel="1.8"
    compileTarget="android-34"
    neverShrinking="true">
  <lintOptions
      abortOnError="true"
      absolutePaths="true"
      checkReleaseBuilds="true"
      explainIssues="true"/>
  <variant name="debug"/>
</lint-module>
