body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ac8374;
}

header {
  background-color: #14195c;
  color: white;
  text-align: center;
  padding: 10px 0;
}

main {
  margin: 20px auto;
  max-width: 900px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #14195c;;
}

section p {
  font-size: 16px;
  margin: 5px 0;
  line-height: 1.5;
}

.fulfilled {
  color: green;
  font-weight: bold;
}

.not-fulfilled {
  color: red;
  font-weight: bold;
}